.text {
font-family: "Roboto Slab";
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 142.7%;


color: #324950;
}

.grup {
position: absolute;
width: 350px;
height: 29px;
left: 1165px;
top: 20px;

}

.text_banner {
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 142.7%;
/* or 68px */

text-align: center;

color: #735440;

}

.text_with {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 142.7%;
/* identical to box height, or 23px */


color: #FFFFFF;
}

.text_mini {
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 142.7%;

text-align: center;

color: #324950;
}

.text_big {
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 142.7%;


color: #57984C;
}

body {
	position: relative;
	width: 1920px;
	height: 3076px;


	background-color: #F7F7F7;
}


.parent {
  display: flex;
  justify-content: space-evenly;
}

.center-img {
 text-align: center;
}

.Banner {
	position: absolute;
	width: 1920px;
	height: 850px;
	left: 0px;
	top: 0px;
	background:url("../images/bg.png")
}


.Products {

position: absolute;
width: 1920px;
height: 190px;
left: 0px;
top: 850px;

background-color: #FFFFFF;

}

.Vision_Mission{

	position: absolute;
	width: 1920px;
	height: 1098px;
	left: 0px;
	top: 1111px;

	background:url("../images/Union.png") no-repeat;

}

.Main_activ{

	position: absolute;
	width: 1920px;
	height: 640px;
	left: 0px;
	top: 2309px;

	background: #EDEDED;
}

.footer{

position: absolute;
width: 1920px;
height: 76px;
left: 0px;
top: 2949px;

background: #2D3F45;
}

.footer2{

position: absolute;
width: 1920px;
height: 127px;
left: 0px;
top: 2949px;

background: #324950;
}



@font-face {
	font-family: 'Roboto Slab';
	src: url('../fonts/RobotoSlab-Thin.eot');
	src: local('../fonts/Roboto Slab Thin'), local('../fonts/RobotoSlab-Thin'),
		url('../fonts/RobotoSlab-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RobotoSlab-Thin.woff') format('woff'),
		url('../fonts/RobotoSlab-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Slab';
	src: url('../fonts/RobotoSlab-Light.eot');
	src: local('../fonts/Roboto Slab Light'), local('../fonts/RobotoSlab-Light'),
		url('../fonts/RobotoSlab-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RobotoSlab-Light.woff') format('woff'),
		url('../fonts/RobotoSlab-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: '../fonts/Roboto Slab';
	src: url('../fonts/RobotoSlab-Bold.eot');
	src: local('../fonts/Roboto Slab Bold'), local('../fonts/RobotoSlab-Bold'),
		url('../fonts/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RobotoSlab-Bold.woff') format('woff'),
		url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Slab';
	src: url('../fonts/RobotoSlab-Regular.eot');
	src: local('../fonts/Roboto Slab Regular'), local('../fonts/RobotoSlab-Regular'),
		url('../fonts/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RobotoSlab-Regular.woff') format('woff'),
		url('../fonts/RobotoSlab-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}